/*import d'une police depuis le site Google Fonts ==========================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Zain:wght@200;300;400;700;800;900&display=swap');

/*Styles génériques ========================================================================================================================*/

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

img {
max-width: 100%; /*permet que les images ne dépassent jamais leur conteneur*/
height: auto;
}

/*Classes ===================================================================================================================================*/

.ajustUl {
    padding: 0;
    list-style: none;
}

#pageContent a {
    text-decoration: none;
    color: grey;
    text-transform: none;
}

.squareContent {
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

/*Styles concernant le body et donc tout le contenu ========================================================================================*/

body {
    font-family: Zain, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.accessibility {
    position: absolute;
    left: -15000px;
}

/*Styles concernant le header ==============================================================================================================*/

#mainHeader {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 90px 1fr 45px;
    border-bottom: solid 2px gainsboro;
    z-index: 2;
}

#logoRenard {
    border-radius: 50%;
    border: solid 2px orange;
    width: 80px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#mainNav {
    position: absolute;
    width: 100%;
    top: 100px;
    display: none;
    background-color: gainsboro;
    text-align:end;
}

#mainNav ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    font-size: 1.2em;
    display: block;
}

#mainNav li {
    padding: 5px;
}

#mainNav a {
    text-decoration: none;
    color: grey;
    text-transform: none;
}

#mainNav a:hover {
    color: red;
}

h1 {
    color: grey;
    font-family: "Homemade Apple";
    font-size: 1.2em;
    margin-top: 30px;
    text-align: center;
    line-height: 1.6;
}

#menuToggle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}


/*Styles concernant le main ==================================================================================================================*/

#pageContent {
    padding: 130px 20px 20px 20px;
    min-height: 100vh;
    color: grey;
}

#leftCol {
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#renard {
    width: 50%;
    margin: 10px;
    float: left;
}

#leftCol p {
    text-align: justify;
}

#rightCol {
    padding: 30px;;
}

/*-----début du bloc défilant-----*/
.scrollRTL { 
    padding-left: 50%;
    white-space: nowrap; 
    animation: defilement-rtl 7s infinite linear;
    z-index: 1;
  }
  
@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0); 
    }
    100% {
      transform: translate3d(-150%,0,0);
    }
}
/*-----fin du bloc défilant-------*/

/*Styles concernant le footer ================================================================================================================*/

#mainFooter {
    height: auto;
    color: grey;
    border-top: solid 2px gainsboro;
    text-align: center;
}

#menuNav {
    display: grid;
    grid-template-columns: 75% 1fr;
    padding: 10px 0px;
    border-bottom: solid 2px gainsboro;
}

#mainFooter h2 {
    margin: 5px 0px;
}

#menuFrog {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: zoom-in;
}

/*-----début du bloc rebond-----*/
.bounce {
    animation: bounce 2s ease infinite;
}
  
@keyframes bounce {
    70% { 
        transform:translateY(0%); 
    }
    80% { 
        transform:translateY(-15%); 
    }
    90% { 
        transform:translateY(0%); 
    }
    95% { 
        transform:translateY(-7%); 
    }
    97% { 
        transform:translateY(0%); 
    }
    99% { 
        transform:translateY(-3%); 
    }
    100% { 
        transform:translateY(0); 
    }
}
/*-----fin du bloc rebond-------*/

#footerNav {
    display: none;
    background-color: gainsboro;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

#footerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footerNav li {
    padding: 5px;
}

#footerNav a {
    text-decoration: none;
    color: gray;
    text-transform: none;
}

#logoInstagram {
    width: 35px;
    height: 35px;
    margin-top: 25px;
}

#mainFooter p {
    margin: 5px 5px 10px 5px;
}

/*Styles soumis à critères """================================================================================================================*/
/*Le code ci-dessus est pensé pour un smartphone et les media ci-dessous adaptent le contenu pour les écrans plus larges */

@media screen and (min-width:768px) { /*pour les écrans > 768px*/
    #menuToggle {
        display:none;
    }
    #mainHeader {
        grid-template-columns: 150px 250px 1fr;
    }
    #mainNav {
        position: static;
        background-color: transparent;
        display: block !important;
        font-size: 1.6em;
    }
    #mainNav ul {
        flex-direction: row;
        justify-content: space-around;
        display: flex;
    }
    .elfsight-app-bd52389a-3674-4129-b5e0-d2f3c54568ed {
        display: none;
    }
}

@media screen and (min-width:1024px) { /*pour les écrans > 1024px*/
       #mainheader {
        grid-template-columns: 150px 1fr 1fr;
    }
}

@media screen and (min-width:1200px) { /*pour les écrans > 1200px*/
    #mainheader {
     grid-template-columns: 150px 1fr 1fr;
 }
}
 