/*import d'une police depuis le site Google Fonts ==========================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Zain:wght@200;300;400;700;800;900&display=swap');

/*styles génériques ========================================================================================================================*/

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

img {
max-width: 100%; /*permet que les images ne dépassent jamais leur conteneur*/
height: auto;
}


/*classes ===================================================================================================================================*/

.ajustUl {
    padding: 0;
    list-style: none;
}

/*.modeSombre {
    background-color: black;
}*/

#pageContent a {
    text-decoration: none;
    color: grey;
    text-transform: none;
}

.squareContent {
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.slides {
    display: none;
}

.article {
    text-indent: 25px;
}

.button {
    background: gainsboro;
    color: grey;
    border-radius: 50px;
    padding: 20px 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.button a {
    padding-left: 36%;
    font-size: 1.2em;
}


/*-----début du bloc défilant-----*/
.scrollRTL { 
    padding-left: 35%;
    white-space: nowrap; 
    animation: defilement-rtl 7s infinite linear;
    z-index: 1;
  }
  
@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0); 
    }
    100% {
      transform: translate3d(-150%,0,0);
    }
}
/*-----fin du bloc défilant--------*/


/*Styles concernant le body et donc tout le contenu ========================================================================================*/

body {
    font-family: Zain, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.accessibility {
    position: absolute;
    left: -15000px;
}


/*Styles concernant le header ==============================================================================================================*/

#mainHeader {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 90px 1fr 45px;
    border-bottom: solid 2px gainsboro;
    z-index: 2;
}

#logoRenard {
    border-radius: 50%;
    border: solid 2px orange;
    width: 80px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#mainNav {
    position: absolute;
    width: 100%;
    top: 100px;
    display: none;
    background-color: gainsboro;
    text-align:end;
}

#mainNav ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    font-size: 1.2em;
    display: block;
}

#mainNav li {
    padding: 5px;
}

#mainNav a {
    text-decoration: none;
    color: grey;
    text-transform: none;
}

#mainNav a:hover {
    opacity: 0.5;
}

h1 {
    color: grey;
    font-family: "Homemade Apple";
    font-size: 1.2em;
    margin-top: 30px;
    text-align: center;
    line-height: 1.6;
}

#menuToggle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}


/*Styles concernant le contenu ===============================================================================================================*/

#pageContent {
    padding: 130px 20px 20px 20px;
    min-height: 80vh; /*paramètre inital à 100wh*/
    color: grey;
}

#pageContent h2 {
    text-align: center;
}

main p {
    text-align: justify;
}

aside p {
    text-align: justify;
}

#leftCol {
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#renard {
    width: 60%;
    float: left;
    margin: 25px 5px 0px 0px;
}

#leftCol p {
    text-align: justify;
}

#rightCol {
    padding: 30px;;
}


/*Styles concernant le footer ================================================================================================================*/

#mainFooter {
    height: auto;
    color: grey;
    border-top: solid 2px gainsboro;
    text-align: center;
}

#menuNav {
    display: grid;
    grid-template-columns: 75% 1fr;
    padding: 10px 0px;
    border-bottom: solid 2px gainsboro;
}

#mainFooter h2 {
    margin: 5px 0px;
}

#menuFrog {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: zoom-in;
}

/*-----début du bloc rebond-----*/
.bounce {
    animation: bounce 2s ease infinite;
}
  
@keyframes bounce {
    70% { 
        transform:translateY(0%); 
    }
    80% { 
        transform:translateY(-15%); 
    }
    90% { 
        transform:translateY(0%); 
    }
    95% { 
        transform:translateY(-7%); 
    }
    97% { 
        transform:translateY(0%); 
    }
    99% { 
        transform:translateY(-3%); 
    }
    100% { 
        transform:translateY(0); 
    }
}
/*-----fin du bloc rebond-------*/

#footerNav {
    display: none;
    background-color: gainsboro;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

#footerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footerNav li {
    padding: 5px;
}

#footerNav a {
    text-decoration: none;
    color: gray;
    text-transform: none;
}

#logoInstagram {
    width: 35px;
    height: 35px;
    margin-top: 25px;
}

#mainFooter p {
    margin: 5px 5px 10px 5px;
}


/*Styles soumis à critères """================================================================================================================*/
/*Le code ci-dessus est pensé pour un smartphone et les media ci-dessous adaptent le contenu pour les écrans plus larges */

@media screen and (min-width:768px) { /*=====pour les écrans > 768px=====*/
    #mainHeader {
        grid-template-columns: 150px 450px 1fr;
    }
    #logoRenard {
        margin: 10px 40px;
    }
    #menuToggle {
        margin-left: 100px;
    }
    #pageContent {
        font-size: 1.5em;
        padding: 130px 50px 50px 50px;
    }
    #leftCol {
        min-height: 400px;
    }
    #renard {
        width: 40%;
        margin: 40px 5px 0px 0px;
    }
    .elfsight-app-bd52389a-3674-4129-b5e0-d2f3c54568ed {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .slides {
        display: none;
    }
    .button {
        width: 298px;
        margin-left: 150px;
        margin-top: 100px;
    }
    .button a {
        text-align: center;
        padding-left: 30%;
    }
}

@media screen and (min-width:1024px) { /*=====pour les écrans > 1024px=====*/
    #mainHeader {
        grid-template-columns: 150px 250px 1fr;
        height: 150px;
    }
    #logoRenard {
        width: 100px;
        margin-top: 20px;
    }
    h1 {
        margin-top: 45px;
    }
    #menuToggle {
        display:none;
    }
    #mainNav {
        margin-top: 50px;
        position: static;
        background-color: transparent;
        display: block !important;
        font-size: 1.2em;
    }
    #mainNav ul {
        flex-direction: row;
        justify-content: space-around;
        display: flex;
    }
    #pageContent {
        padding-top: 200px;
        font-size: 1.8em;
    }
    #renard {
        width: 50%;
    }
    .slides {
        display: none;
    }
    .button {
        margin-left: 285px;
    }
    .button a {
        padding-left: 25%;
    }
}

@media screen and (min-width:1200px) { /*=====pour les écrans > 1200px=====*/
    #mainHeader {
        grid-template-columns: 150px 450px 1fr;
    }
    h1 {
        font-size: 1.5em;
    }
    #mainNav {
        font-size: 1.3em;
    }
    #pageContent {
        font-size: 1.5em;
        padding: 210px 80px 80px 80px;
    }
    .bigScreen {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
    }
    #leftCol {
        padding-top: 100px;
    }
    #renard {
        width: 45%;
        margin-top: 50px;
    }
    .scrollRTL {
        animation: none;
        padding: 0;
    }
    .bigScreen2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .ajustUl {
        padding: 20px;
        margin: 0;
    }
    .squareContent {
        margin: 40px 0;
    }
    #titreContact {
        margin-top: 0;
    }
    .button {
        margin-left: 185px;
    }

/*-----début du bloc slider-----*/
    .slides {
        padding: 0;
        width: 725px; /*ajout*/
        height: 500px; /*ajout*/
        display: block;
        margin: 0 auto;
        position: relative;
        background-color: black; /*ajout*/
    }
    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    .slides input { 
        display: none; 
    }
    .slide-container { 
        display: block; 
    }
    .slide {
        top: 0;
        opacity: 0;
        width: 725px; /*ajout*/
        height: 500px; /*ajout*/
        display: block;
        position: absolute;
        transform: scale(0);
        transition: all 0.5s ease-in-out; /*ajout*/
    }
    .slide img {
        width: 100%;
        height: 100%;
        object-fit:contain; /*ajout*/
        background-color: black; /*ajout*/
    }
    .nav label {
        width: 80px; /*ajout*/
        height: 100%;
        display: none;
        position: absolute;
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        transition: opacity .2s;
        color: black; /*ajout*/
        font-size: 180pt;
        text-align: center;
        line-height: 480px; /*ajout*/
        background-color: rgba(37, 156, 211, 1); /*ajout*/
    }
    .slide:hover + .nav label { 
        opacity: 0.9; 
    } /*ajout*/
    .nav label:hover { 
        opacity: 1; 
    }
    .nav .next { 
        right: 0; 
    }
    input:checked + .slide-container  .slide {
        opacity: 1;
        transform: scale(1);
        transition: opacity 2s ease-in-out; /*ajout*/
    }
    
    input:checked + .slide-container .nav label { 
        display: block; 
    }
    .nav-dots {
        width: 100%;
        bottom: 9px;
        height: 11px;
        display: block;
        position: absolute;
        text-align: center;
    }
    .nav-dots .nav-dot {
        top: -5px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(37, 156, 211, 0.7); /*ajout*/
    }
    .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(37, 156, 211, 1); /*ajout*/
    }
    input#img-1:checked ~ .nav-dots label#img-dot-1,
    input#img-2:checked ~ .nav-dots label#img-dot-2,
    input#img-3:checked ~ .nav-dots label#img-dot-3,
    input#img-4:checked ~ .nav-dots label#img-dot-4,
    input#img-5:checked ~ .nav-dots label#img-dot-5,
    input#img-6:checked ~ .nav-dots label#img-dot-6, 
    input#img-7:checked ~ .nav-dots label#img-dot-7, 
    input#img-8:checked ~ .nav-dots label#img-dot-8, 
    input#img-9:checked ~ .nav-dots label#img-dot-9, 
    input#img-10:checked ~ .nav-dots label#img-dot-10, 
    input#img-11:checked ~ .nav-dots label#img-dot-11, 
    input#img-12:checked ~ .nav-dots label#img-dot-12 {
        background: rgba(0, 0, 0, 1); /*ajout*/
    }
    /*-----fin du bloc slider-----*/

}